<div class="container w-50 mt-5 border shadow p-5">
    <h3>Sign Up</h3>
    <form  [formGroup]="signupForm" (ngSubmit)="signUp()">
       <div class="mb-3">
         <label for="id1" class="form-label">Name</label>
         <input type="text" class="form-control" id="id1" aria-describedby="emailHelp" formControlName="name">
       </div>
       <div class="mb-3">
        <label for="id2" class="form-label">Mobile No</label>
        <input type="text" class="form-control" id="id2" aria-describedby="emailHelp" formControlName="mobileNo">
      </div>
      <div class="mb-3">
        <label for="id3" class="form-label">Email address</label>
        <input type="email" class="form-control" id="id3" aria-describedby="emailHelp" formControlName="email">
      </div>
       <div class="mb-3">
         <label for="exampleInputPassword1" class="form-label">Password</label>
         <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
       </div>
       <div class="col-md-6"> 
        <button type="submit" class="btn btn-primary" routerLink="/home">Sign Up</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-outline-success" routerLink="/login">Already User</button>
        
       </div>
      
     </form>
</div>
